/.vscode
/task
/tast1.c
/tast1.exe
/tast10.c
/tast10.exe
/tast2.c
/tast2.exe
/tast3.c
/tast3.exe
/tast4.c
/tast4.exe
/tast5.c
/tast5.exe
/tast6.c
/tast6.exe
/tast7.c
/tast7.exe
/tast8.c
/tast8.exe
/tast9.c
/tast9.exe
/work.exe